@model Lighthouse.Models.ForgotPassword

<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <!-- Include your styles and scripts here -->
</head>
<body>

    <h2>Forgot Password</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    }

    <!-- Include your other HTML content and scripts here -->

</body>
</html>


